<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Unilaser</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-6 mx auto mt-g text-center">
        <h1 class="mb-5">Hair Counter</h1>

        <form method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {% for error in form.photo.errors %}
            <span style = "color:red;">{{ error }}</span>
          {% endfor %}

          <div class="row justify-content-center">
            <div class="col-auto"></div>
              {{ form.photo(class='form-control') }}
            <div class="col-auto"></div>
              {{ form.submit(class='btn btn-success') }}
          </div>

        </form>

        {% if file_url %}
          <div class="mt-5">
            <img src="{{ file_url }}" style="width:400px;">
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</body>
</html>













<!-- {% extends 'base.html' %}

{% block head %}
<title>Unilaser</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Hair Counter</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %} -->
